Repository un-ts/rollup: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{json,html,md}": ["prettier --write", "git add"],
  "*.{js,ts}": ["eslint --fix", "git add"]
}

chore: upgrade rollup and eslint-config-1stg
  package.json
  yarn.lock
Due: prettier --write

ci: bump all (dev)Dependencies, migrate to GitHub Actions
  .eslintignore
  .eslintrc
  .github/FUNDING.yml
  .github/workflows/nodejs.yml
  .gitignore
  .huskyrc
  .huskyrc.js
  .lintstagedrc
  .lintstagedrc.js
  .prettierrc
  .travis.yml
  README.md
  build.ts
  deploy.sh
  index.ts
  jest.config.js
  package.json
  test/.eslintrc
  test/insert.spec.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): add renovate.json
  renovate.json
Due: prettier --write

ci: bump all (dev)Dependencies, migrate to GitHub Actions
  .eslintignore
  .eslintrc
  .github/FUNDING.yml
  .github/workflows/nodejs.yml
  .gitignore
  .huskyrc
  .huskyrc.js
  .lintstagedrc
  .lintstagedrc.js
  .prettierrc
  .travis.yml
  README.md
  build.ts
  codechecks.yml
  deploy.sh
  index.ts
  jest.config.js
  now.json
  package.json
  test/.eslintrc
  test/insert.spec.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(release): 1.2.0
  CHANGELOG.md
Due: prettier --write

feat: migrate to lerna monorepo
  .eslintignore
  .github/workflows/nodejs.yml
  CHANGELOG.md
  README.md
  codechecks.yml
  deploy.sh
  lerna.json
  now.json
  package.json
  packages/insert/CHANGELOG.md
  packages/insert/README.md
  packages/insert/index.ts
  packages/insert/package.json
  packages/insert/test/append.js
  packages/insert/test/insert.spec.ts
  packages/insert/test/prepend.js
  packages/insert/test/template.html
  packages/insert/test/transform-expect.js
  packages/insert/test/transform.js
  packages/insert/test/wrap.js
  packages/insert/tsconfig.json
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: release package(s)
  packages/insert/CHANGELOG.md
  packages/insert/package.json
Due: prettier --write

chore: add remark-lint support
  .eslintignore
  .github/workflows/nodejs.yml
  .gitignore
  .remarkrc
  lerna.json
  package.json
Due: prettier --write

chore(deps): update dependency rimraf to ^3.0.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/lib-config to ^0.4.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency typescript to ^3.8.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to ^25.1.4
  package.json
  yarn.lock
Due: prettier --write

fix(deps): update dependency magic-string to ^0.25.7
  packages/insert/package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency type-coverage to ^2.4.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-node to ^8.8.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^13.9.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-jest to ^25.3.0
  package.json
  yarn.lock
Due: prettier --write

chore: bump all (dev)Dependencies
  .commitlintrc
  .lintstagedrc.js
  lerna.json
  package.json
  packages/insert/package.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update dependency ts-jest to ^25.5.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency ts-node to ^8.10.2
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/jest to ^25.2.3
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency lerna to ^3.22.1
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @1stg/lib-config to ^0.5.5
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency @types/node to ^13.13.28
  package.json
  yarn.lock
Due: prettier --write

chore: bump all (dev)Dependencies
  .eslintrc
  .prettierrc
  .remarkrc
  package.json
  packages/insert/index.ts
  packages/insert/test/insert.spec.ts
  packages/insert/tsconfig.json
  tsconfig.base.json
  tsconfig.json
  vercel.json
  yarn.lock
Due: prettier --write, eslint --fix

chore(deps): update dependency @types/jest to ^26.0.24
  package.json
  yarn.lock
Due: prettier --write

Delete FUNDING.yml
  .github/FUNDING.yml
Due: none

Add CodeQL workflow for GitHub code scanning
  .github/workflows/codeql.yml
Due: none

Update Node.js versions in workflow matrix
  .github/workflows/nodejs.yml
Due: none
